/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Dec, 2017, 4:21:54 PM
    Author     : vishakha
*/
html, body{
        margin: 0;
        height: 100%; width: 100%;
    }
    .loginDiv{
        background-color: black;
        display: inline-block;
        padding: 4px;
        text-align: center;
        width: 100%;
        height: 100%;
        background-color: black;
        position: relative;
    }
    form{
        width: 50%;
        margin: auto;
        padding-top: 20%;
        color: white;
    }
    form i{
        padding: 2px;
    }
    form i input{
        width: 100%;
        margin: 2px;
        height: 30px;
        background-color: black;
        color: white;
        font-weight: bolder;
        border-color: turquoise;
        border-bottom-right-radius: 13px;
        border-top-left-radius: 13px;
    }
    .submit {
        border: turquoise;
        color: white;
        font-weight: bolder;
    }
    button{
        width: 15%;
        height: 27px;
        background-color: turquoise;
        border: turquoise;
    }
    #login{
        display: none;
    }
    #register{
        display: block;
    }
    @media (min-width:750px) {
  .submit {
    width:300px; /*The width is 100%, when the viewport is 800px or smaller*/
  }
  form i input{
        width: 100%;
        height: 30px;
        padding: 2px;
    }
}

