/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 Dec, 2017, 7:38:01 PM
    Author     : vishakha
*/
body{
            margin:0;
        }
        .header
        {
            width: 100%;
            height: 40%;
            display: flex;
            background-color: #05052c;
            color:white;
            font-size: 200%;
             padding-top: 10px;
            padding-left: 10px;
            padding-bottom: 10px;
        }
        button:hover{
            cursor: pointer;
        }
        
        .mySlides {display:none}
        .slideshow-container {
            max-width: 100%;
            position: relative;
            margin: auto;
        }
        /* Next & previous buttons */
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
        }
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
          }

          /* Fading animation */
          .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 0s;
          }

          @-webkit-keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
          }

          @keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
          }

          /* On smaller screens, decrease text size */
          @media only screen and (max-width: 300px) {
            .prev, .next,.text {font-size: 11px}
          }
          .dropdown {
            position: relative;
            display: inline-block;
          }
          .dropdown-content{
              flex-wrap: wrap;
          }
